:root {
  --c-border: #eee;
  --c-border-dark: #dccfcf;
  --c-border-code: #ddd;
  --c-danger: #FF3C1B;
  --c-danger-active: #B50900;

  --rgb-bg-base: 250, 250, 250;

  --c-bg-base: rgb(var(--rgb-bg-base));

  --c-bg-active: #f2f2f2;
  --c-bg-card: #00000006;
  --c-bg-code: #00000006;
  --c-bg-selection: #8885;
  --c-bg-dm: #f1e8e6;

  --c-text-base: #232323;
  --c-text-code: #63470c;
  --c-text-secondary: #686868;
  --c-text-secondary-light: #919191;

  --c-bg-btn-disabled: #a1a1a1;
  --c-text-btn-disabled: #fff;
  --c-text-btn-disabled-deeper: #a1a1a1;
  --c-text-btn: #232323;

  --c-success: #67C23A;
  --c-warning: #E6A23C;
  --c-error: #F56C6C;


  /* Dark theme color definitions */
  --c-dark-primary: var(--c-dark-primary);
  --c-dark-primary-active: var(--c-dark-primary-active);
  --c-dark-primary-light: var(--c-dark-primary-light);
  --c-dark-primary-fade: var(--c-dark-primary-fade);
  --c-dark-danger: #FF2810;
  --c-dark-danger-active: #E02F00;

  --c-dark-border: #222;
  --c-dark-border-code: #333;
  --c-dark-border-dark: #545251;

  --dark-rgb-bg-base: 17, 17, 17;

  --c-dark-bg-active: #191919;
  --c-dark-bg-card: #ffffff06;
  --c-dark-bg-code: #ffffff06;
  --c-dark-bg-dm: #0a2f35;

  --c-dark-text-base: #f3f3f3;
  --c-dark-text-code: #ecd88e;
  --c-dark-text-secondary: #888;
  --c-dark-text-secondary-light: #686868;

  --c-dark-bg-btn-disabled: #2a2a2a;
  --c-dark-text-btn-disabled: #919191;
}

.dark {
  --c-primary: var(--c-dark-primary);
  --c-primary-active: var(--c-dark-primary-active);
  --c-primary-light: var(--c-dark-primary-light);
  --c-primary-fade: var(--c-dark-primary-fade);
  --c-danger: var(--c-dark-danger);
  --c-danger-active: var(--c-dark-danger-active);

  --c-border: var(--c-dark-border);
  --c-border-code: var(--c-dark-border-code);
  --c-border-dark: var(--c-dark-border-dark);

  --rgb-bg-base: var(--dark-rgb-bg-base);

  --c-bg-active: var(--c-dark-bg-active);
  --c-bg-card: var(--c-dark-bg-card);
  --c-bg-code: var(--c-dark-bg-code);
  --c-bg-dm: var(--c-dark-bg-dm);

  --c-text-base: var(--c-dark-text-base);
  --c-text-code: var(--c-dark-text-code);
  --c-text-secondary: var(--c-dark-text-secondary);
  --c-text-secondary-light: var(--c-dark-text-secondary-light);

  --c-bg-btn-disabled: var(--c-dark-bg-btn-disabled);
  --c-text-btn-disabled: var(--c-dark-text-btn-disabled);
}

.custom {
  --c-primary: var(--c-primary-custom, var(--c-dark-primary));
  --c-primary-active: var(--c-primary-active-custom, var(--c-dark-primary-active));
  --c-primary-light: var(--c-primary-light-custom, var(--c-dark-primary-light));
  --c-primary-fade: var(--c-primary-fade-custom, var(--c-dark-primary-fade));
  --c-danger: var(--c-danger-custom, var(--c-dark-danger));
  --c-danger-active: var(--c-danger-active-custom, var(--c-dark-danger-active));

  --c-border: var(--c-border-custom, var(--c-dark-border));
  --c-border-code: var(--c-border-code-custom, var(--c-dark-border-code));
  --c-border-dark: var(--c-border-dark-custom, var(--c-dark-border-dark));

  --rgb-bg-base: var(--rgb-bg-base-custom, var(--dark-rgb-bg-base));

  --c-bg-active: var(--c-bg-active-custom, var(--c-dark-bg-active));
  --c-bg-card: var(--c-bg-card-custom, var(--c-dark-bg-card));
  --c-bg-code: var(--c-bg-code-custom, var(--c-dark-bg-code));
  --c-bg-dm: var(--c-bg-dm-custom, var(--c-dark-bg-dm));

  --c-text-base: var(--c-text-base-custom, var(--c-dark-text-base));
  --c-text-code: var(--c-text-code-custom, var(--c-dark-text-code));
  --c-text-secondary: var(--c-text-secondary-custom, var(--c-dark-text-secondary));
  --c-text-secondary-light: var(--c-text-secondary-light-custom, var(--c-dark-text-secondary-light));

  --c-bg-btn-disabled: var(--c-bg-btn-disabled-custom, var(--c-dark-bg-btn-disabled));
  --c-text-btn-disabled: var(--c-text-btn-disabled-custom, var(--c-dark-text-btn-disabled));
}
